/* Here, I'm creating several custom properties to be used across the entirety of the site! */
:root {
    /* Color Palette */
    --bc-burgundy: #A20641;
    /* "bc" custom properties are for "Brooklyn College" properties. */
    --bc-orange: #FAB63D;
    /* Several of these, after the main/primary colors, are obtained through CUNY's official palette, including accent colors. */
    --cuny-blue: #0033A1;
    --cuny-taxi: #FFB71B;
    --cuny-indigo: #011D49;
    --cuny-azure: #1F5CFF;
    --cuny-sky: #A3C9FF;
    --cuny-cream: #FFFCD5;
    --cuny-thistle: #DEC2EB;
    --cuny-mint: #B5EBD8;
    --cuny-sea-green: #005C5A;
    --cuny-pearl: #F7F4EB;
    --cuny-slate: #688197;
    /* ______________________________________________________ */
    /* For ease of changing: */
    --text-shadow: rgb(from var(--cuny-indigo) r g b / 25%);
    --box-shadow: rgb(from var(--cuny-indigo) r g b / 25%);
    --heading-color: var(--cuny-indigo);
    --card-background-color: rgb(from var(--cuny-slate) r g b / 2%);
    --bkg-tint-color: rgb(from var(--cuny-slate) r g b / 1%);
    --background-color: rgb(from var(--cuny-slate) r g b / 0.5%);
}

/* MAIN */
/* Page IDs: 53 is for Home, 25 is News. 261 for Resources & Opportunities, 275 for About.   */


body.page-id-53 .site-main,
.card {
    border-radius: 6px !important;
    border-top: 1px groove rgba(108, 108, 108, 0.42) !important;
    border-left: 1px groove rgba(92, 92, 92, 0.42) !important;
    border-right: 1px groove rgba(92, 92, 92, 0.42) !important;
    border-bottom: 1px groove rgba(108, 108, 108, 0.62) !important;

    padding: 4px;
    margin-bottom: 10px;

    box-shadow: 0px 4px 6px var(--box-shadow),
        1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        -1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        0px 0px 10px 4px rgb(from var(--box-shadow) r g b /20%) inset !important;

    background-color: var(--card-background-color) !important;
    backdrop-filter: blur(1.6px) !important;
    background: rgba(255, 255, 255, 0.103);

}

.card,
body.page-id-25 .site-main {
    border-radius: 6px !important;
    border-top: 1px groove rgba(108, 108, 108, 0.42) !important;
    border-left: 1px groove rgba(92, 92, 92, 0.42) !important;
    border-right: 1px groove rgba(92, 92, 92, 0.42) !important;
    border-bottom: 1px groove rgba(108, 108, 108, 0.62) !important;

    padding: 4px;
    margin-bottom: 10px;

    box-shadow: 0px 4px 6px var(--box-shadow),
        1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        -1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        0px 0px 10px 4px rgb(from var(--box-shadow) r g b /5%) inset !important;

    backdrop-filter: blur(1.6px) !important;
    background: rgba(255, 255, 255, 0.2);

}

.column-content,
.bkg-tint {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--bkg-tint-color);
}


/* Background dotted pattern */
body.page-id-53,
body.page-id-25 {
    background-image: radial-gradient(circle at center, rgb(0, 0, 0, 0.14) 10%, transparent 11%);
    background-size: 15px 15px;
    background-repeat: repeat;
    background-color: var(--background-color);
}

body.page-id-261 {
    background-image: radial-gradient(circle at center, rgb(0, 0, 0, 0.08) 10%, transparent 11%);
    background-size: 15px 15px;
    background-repeat: repeat;
    background-color: var(--background-color);
}

body.page-id-291 {
    background-image: radial-gradient(circle at center, rgb(0, 0, 0, 0.05) 10%, transparent 15%);
    background-size: 15px 15px;
    background-repeat: repeat;
    background-color: var(--background-color);
}

body.page-id-261 .wp-block-group.alignwide:not(.wp-container-core-group-is-layout-afc22aa2) {

    border-radius: 8px;

    box-shadow: 0px 4px 6px var(--box-shadow),
        1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        -1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        0px 0px 10px 4px rgb(from var(--box-shadow) r g b /8%) inset !important;

backdrop-filter:blur(2px);
}

body.page-id-291 .wp-block-columns.alignwide,
body.page-id-291 .wp-block-group.alignwide {

    border-radius: 8px;

    box-shadow: 0px 4px 6px var(--box-shadow),
        1px 0px 4px 0px rgb(from var(--box-shadow) r g b /15%),
        -1px 0px 4px 0px rgb(from var(--box-shadow) r g b /15%),
        0px 0px 10px 4px rgb(from var(--box-shadow) r g b /15%) inset !important;

    padding: 50px;
    backdrop-filter: blur(2px);
    /* A little softer on the Media page, for fewer distractions and to keep it less busy when there are photos involved. */
}

body.page-id-275 {
    background-image: radial-gradient(circle at center, rgb(0, 0, 0, 0.14) 8%, transparent 12%);
    background-size: 15px 15px;
    background-repeat: repeat;
}

body.page-id-275 .column.column-content.column-last {
    border-radius: 6px !important;
    border-top: 1px groove rgba(108, 108, 108, 0.42) !important;
    border-left: 1px groove rgba(92, 92, 92, 0.42) !important;
    border-right: 1px groove rgba(92, 92, 92, 0.42) !important;
    border-bottom: 1px groove rgba(108, 108, 108, 0.62) !important;

    padding: 10px;

    box-shadow: 0px 4px 6px var(--box-shadow),
        1px 0px 4px 0px rgb(from var(--box-shadow) r g b /6%),
        -1px 0px 4px 0px rgb(from var(--box-shadow) r g b /6%),
        0px 0px 10px 4px rgb(from var(--box-shadow) r g b /12%) inset !important;

    background-color: var(--card-background-color) !important;
    backdrop-filter: blur(1.6px) !important;
    background: rgba(255, 255, 255, .1);

}

/* Classes */
.background-light {
    background-color: var(--cuny-sky);
}

.bkg-tint {
    background-color: var(--bkg-tint-color);
}

.bold {
    font-weight: bold;
}

.frosted {
    backdrop-filter: blur(2px) !important;
    background: rgba(255, 255, 255, 0.103);
}

.header1 {
    font-weight: bold;
    text-shadow: 0px 2px 8px var(--text-shadow);
}

.text-shadow {
    text-shadow: 0px 2px 8px var(--text-shadow);
}

.taxi-shadow {
    text-shadow: 0px 2px 8px #FFB71B;
}

body.page-id-275 .wp-block-media-text.alignwide:hover,
.hover-shading:hover {
    background-color: rgba(255, 255, 255, .8) !important;
}

/*
body.page-id-25 ul li.wp-block-rss__item:hover*,
body.page-id-261 details.wp-block-details.is-layout:hover,
body.page-id-261 details.wp-block-details:hover,
body.page-id-261 details.wp-block-details:hover * */

body #content .post:hover {
    filter: brightness(102%) !important;
}

/* it was working at some point! */
body.page-id-25 li.wp-block-rss__item:hover,
body.page-id-25 li.wp-block-rss__item:hover * {
    filter: brightness(120%) !important;
}

body.page-id-261 details.wp-block-details:hover,
body.page-id-261 details.wp-block-details:hover * {
    filter: brightness(120%) !important;
}



/* ______________________________________________________ */


/* IDs */

/* Posts Page (a little weird to just get the ID for, but a general dotted bkg may be preferable if wanting the pages to be uniform. */

/* Site header shading */
#header.clearfix {
    box-shadow: 0px 4px 6px var(--box-shadow),
        1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        -1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        0px 0px 10px 4px rgb(from var(--box-shadow) r g b /35%) inset;

}

/* Main Background (with page exclusions) */
body:not(body.page-id-291, body.page-id-275, body.page-id-53) {
    background-image: radial-gradient(circle at center, rgb(0, 0, 0, 0.08) 14%, transparent 14%);
    background-size: 15px 15px;
    background-repeat: repeat;
    background-color: var(--background-color);
}

body.site-main:not(body.page-id-291, body.page-id-53),
body #content .post {
    border-radius: 4px !important;
    border-top: 1px groove rgba(108, 108, 108, 0.42) !important;
    border-left: 1px groove rgba(92, 92, 92, 0.42) !important;
    border-right: 1px groove rgba(92, 92, 92, 0.42) !important;
    border-bottom: 1px groove rgba(108, 108, 108, 0.62) !important;

    padding: 15px;
    margin-bottom: 20px;

    box-shadow: 0px 4px 6px var(--box-shadow),
        1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        -1px 0px 4px 0px rgb(from var(--box-shadow) r g b /10%),
        0px 0px 10px 4px rgb(from var(--box-shadow) r g b /8%) inset !important;

    background-color: var(--card-background-color) !important;
    backdrop-filter: blur(1.8px) !important;
    background: rgba(255, 255, 255, .1);

}

/* ______________________________________________________ */



/* Overloading Academica */
/* Gets rid of the displayed page name at the top. I think it's cleaner, but up to anybody's preference. */
.title-header {
    display: none !important;
}




/* Elements Direct */
h1,
h2 {
    font-weight: bold;
}

/* ______________________________________________________ */